PORT=8080
FINLIFE_API_KEY=
FINLIFE_BASE_URL=https://finlife.fss.or.kr/finlifeapi
FINLIFE_TOP_GROUP_CODES=020000
BATCH_HOUR_KST=6
BATCH_MINUTE_KST=5
KAKAO_REST_API_KEY=
BUILDING_REGISTRY_SERVICE_KEY=
KAKAO_MAP_JS_KEY=
MOLIT_RTMS_SERVICE_KEY=
